<!DOCTYPE html>
<html lang="en">
<head>
{% include header.html %}
</head>
<body>
    <section class="page-header">
      <h1 class="project-name">GIST4302/5302: Spatial Analysis and Modeling</h1>
      <h2 class="project-tagline">Lecture: Tuesday & Thursday 12:30-1:20pm,
	      Science 234</h2>
      <h3 class="project-tagline"> Labs: Tuesday & Thursday 2:00-3:50pm,
	      Wednesday 4-5:50pm, Holden 221</h2>

      <h3 class="project-tagline"> </h2>
      <a href="syllabus.pdf" class="btn">Syllabus </a>

      <a href="http://www.gis.ttu.edu/" class="btn">Center
      for Geospatial Technology, Texas Tech</a>
      <a href="http://www.depts.ttu.edu/geospatial/center/GraduateCertificate.html"
      class="btn">GIS Certificate or Minor</a>

      <!--
      <a href="https://github.com/surfcao/gist4302" class="btn">View on GitHub</a>
      <a href="https://github.com/surfcao/gist4302/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/surfcao/gist4302/tarball/master" class="btn">Download .tar.gz</a>
      -->
  </section>

<section class="main-content">
{{ content }}
</section>
</body>
</html>
