<!DOCTYPE html>
<html lang="en">
<head>
{% include header.html %}
</head>
<body><span class="thepage">&nbsp;</span>
<body>
    <section class="page-header">
      <h1 class="project-name">GIST4302/5302: Spatial Analysis and Modeling</h1>
      <h2 class="project-tagline">Department of Geosciences, Texas Tech University</h2>
      <a href="https://github.com/surfcao/gist4302" class="btn">View on GitHub</a>
      <a href="https://github.com/surfcao/gist4302/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/surfcao/gist4302/tarball/master" class="btn">Download .tar.gz</a>
  </section>

 <section class="main-content">
      <h1>
<a id="gist-43025302-spatial-analysis-and-modeling" class="anchor" href="#gist-43025302-spatial-analysis-and-modeling" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>GIST 4302/5302: Spatial Analysis and Modeling</h1>


{{ content }}

</section>
</body>
</html>
